@font-face { font-family: 'Barlow'; 
  font-style: normal; 
  font-weight: 300; font-display: swap; 
  src: local('Barlow Light'), 
    local('Barlow-Light'), 
    url(https://fonts.gstatic.com/s/barlow/v4/7cHqv4kjgoGqM7E3p-ks6Vop.ttf) format('truetype');
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(237, 255, 252);
  font-family: 'Barlow';
  /* overflow-x: hidden; */
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Navigation Bar */

  /* Mobile */

.navigation_bar {
  margin: 0;
}

.main_nav {
  list-style-type: none;
  display: none;
}

.nav_links {
  text-decoration: none;
}

.main_nav li {
  display: inline;
  text-align: center;
  padding-left: 18px;
  font-size: 1.3rem;
}

.navigation_bar ul li a {
  color: #000000;
}

.navigation_bar_toggle {
  position: absolute; 
  top: 108px;
  right: 20px;
  cursor: pointer;
}

.active {
  display: block;
}

  /* Desktop */

@media screen and (min-width: 1150px) {  

  .navigation_bar {
    margin-left: 852px;
  }

  .main_nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main_nav li {
    margin: 0;
  }

  .navigation_bar_toggle {
    display: none;
  }
}

@media screen and (min-width: 775px) and (max-width: 1150px) {  
  .navigation_bar {
    margin: 0;
  }

  .main_nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main_nav li {
    margin: 0;
  }

  .navigation_bar_toggle {
    display: none;
  }
}

  
/* Homepage */

  /* Desktop */
#landing {
  position: relative;
  height: 80vh; 
}

#landing img {
  position: absolute;
  right: 640px;
  top: 64px;
}

.title {
  font-family: 'Merriweather', serif;
  font-size: 7.4rem; 
  font-weight: bold;
  margin-top: 72px;
  padding-left: 570px;
  color: #1b1b1b;

  text-shadow:
  -2px -2px 0 rgba(255, 255, 255, 0.6),  
  2px -2px 0 rgba(255, 255, 255, 0.6),
  -2px 2px 0 rgba(255, 255, 255, 0.6),
  2px 2px 0 rgba(255, 255, 255, 0.6);

}

  /* Mobile */
@media only screen and (max-width: 1150px) {
  #landing {
    top: 56px;
    text-align: center;
  }

  .title {
    padding-left: 0;
  }

  #landing img {
    transform: scale(0, 0);
    opacity: 0;
  }
}

@media only screen and (max-width: 775px) {
  #landing {
    top: 30px;
    text-align: center;
  }

  .title {
    font-size: 5em;
    padding-left: 6%;
  }

  #landing img {
    transform: scale(0, 0);
    opacity: 0;
  }
}

@media only screen and (max-width: 400px) {
  #landing {
    top: 30px;
    text-align: center;
  }

  .title {
    font-size: 5em;
  }

  #landing img {
    transform: scale(0, 0);
    opacity: 0;
  }
}

/* Subtitles */

.landing_description {
  position: absolute;
  text-align: left;
  line-height: 1.4;
  font-size: 1.5rem;
  top: 416px;
  left: 580px;
}

.landing_description a {
  background-color: #F3F58B;
}

.call_to_action {
  position: absolute;
  text-align: left;
  line-height: 1.5;
  font-size: 2rem;
  top: 644px;
  left: 580px;
  text-decoration: underline dotted #1f1f1f;
  text-decoration-thickness: 0.01em;
}

/* Mobile */

@media only screen and (max-width: 1150px) {
  .landing_description {
    text-align: center;
    line-height: 1.6;
    top: 400px;
    left: 0;
  }
  
  .call_to_action {
    left: 180px;
  }
}

@media only screen and (max-width: 775px) {
  .landing_description {
    text-align: center;
    line-height: 1.6;
    top: 316px;
    left: 0;
  }
  
  .call_to_action {
    left: 100px;
  }
}

/* Values page */
#values {
  justify-content: center;
  height: 80vh;
  padding-top: 100px;
}

.value_description {
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1.45rem;
  line-height: 1.6;
}

.grid {
  padding-top: 116px;
  padding-left: 4%;
  padding-right: 4%;
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  gap: 48px;
}

.card {
  background-color: #ADCAD0;
  border-radius: 8px;
  color: #1f1f1f;
  height: 7rem;
}

.card:hover {
  -webkit-box-shadow: 0px 4px 6px 2px rgba(220,220,220, 0.4);  
  -moz-box-shadow:    0px 4px 6px 2px #ccc;  
  box-shadow:         0px 4px 6px 2px #ccc;
}

.card h3 {
  font-size: 1.2rem;
  padding-left: 1rem;
}

.card p {
  font-size: 1rem;
  padding-left: 1rem;
  line-height: 2;
} 

/* Sign up page */

#summary {
  justify-content: center;
  height: 80vh;
  padding-top: 56px;
  padding-bottom: 64px;
}

.summary_description {
  text-align: left;
  font-size: 1.8rem;
  line-height: 1.6;
  padding-left: 12%;
  padding-right: 12%;
}

.airtable-embed {
  position: relative;
  margin-top: 50px;
  margin-left: 19.6%;
  text-align: center;
  background: transparent;
  border: 2px solid #ADCAD0;
  border-radius: 8px;
}

@media only screen and (max-width: 775px) {
  #summary {
    padding-top: 90px;
  }
}