@font-face { font-family: 'Barlow'; 
  font-style: normal; 
  font-weight: 300; font-display: swap; 
  src: local('Barlow Light'), 
    local('Barlow-Light'), 
    url(https://fonts.gstatic.com/s/barlow/v4/7cHqv4kjgoGqM7E3p-ks6Vop.ttf) format('truetype');
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(237, 255, 252);
  font-family: 'Barlow';
  overflow-x: hidden;
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Navigation Bar */

#nav_bar {
  padding-left: 738px;
}

#navigation_bar ul li {
  display: inline-block;
  list-style: none;
  font-size: 1.2rem;
  padding: 0px 0px 0px 60px;
}

#navigation_bar ul li a {
  color: #000000;
}

/* Homepage */

#landing {
  position: relative;
  font-size: 24px;
  height: 80vh; 
}

#landing img {
  position: absolute;
  right: 640px;
  top: 64px;
}

.title {
  font-family: 'Merriweather', serif;
  font-size: 7.4rem; 
  font-weight: bold;
  margin-top: 72px;
  padding-left: 570px;
  color: #1b1b1b;

  text-shadow:
  -2px -2px 0 rgba(255, 255, 255, 0.6),  
  2px -2px 0 rgba(255, 255, 255, 0.6),
  -2px 2px 0 rgba(255, 255, 255, 0.6),
  2px 2px 0 rgba(255, 255, 255, 0.6);

}

/* Subtitles */

.landing_description {
  position: absolute;
  text-align: left;
  line-height: 0.8;
  font-size: 1.5rem;
  top: 416px;
  left: 580px;
}

.landing_description a {
  background-color: #F3F58B;
}

.call_to_action {
  position: absolute;
  text-align: left;
  line-height: 1.5;
  font-size: 2rem;
  top: 644px;
  left: 580px;
  text-decoration: underline dotted #1f1f1f;
  text-decoration-thickness: 0.01em;
}

/* Values page */
#values {
  justify-content: center;
  height: 80vh;
  padding-top: 100px;
}

.value_description {
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1.45rem;
  line-height: 1.6;
}

.grid {
  padding-top: 116px;
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  gap: 48px;
}

.card {
  background-color: #ADCAD0;
  border-radius: 8px;
  color: #1f1f1f;
  height: 7rem;
}

.card:hover{
  -webkit-box-shadow: 0px 4px 6px 2px rgba(220,220,220, 0.4);  
  -moz-box-shadow:    0px 4px 6px 2px #ccc;  
  box-shadow:         0px 4px 6px 2px #ccc;
}

.card h3 {
  font-size: 1.2rem;
  padding-left: 1rem;
}

.card p {
  font-size: 1rem;
  padding-left: 1rem;
  line-height: 2;
} 

/* Sign up page */

#summary {
  justify-content: center;
  height: 80vh;
  padding-top: 56px;
  padding-bottom: 64px;
}

.summary_description {
  text-align: left;
  font-size: 1.6rem;
  line-height: 1.6;
}

.airtable-embed {
  position: relative;
  margin-top: 50px;
  margin-left: 19.6%;
  text-align: center;
  background: transparent;
  border: 2px solid #ADCAD0;
  border-radius: 8px;
}