@font-face { font-family: 'Barlow'; 
  font-style: normal; 
  font-weight: 300; font-display: swap; 
  src: local('Barlow Light'), 
    local('Barlow-Light'), 
    url(https://fonts.gstatic.com/s/barlow/v4/7cHqv4kjgoGqM7E3p-ks6Vop.ttf) format('truetype');
}

body {
  background-color: rgb(209, 226, 226);
  font-family: 'Barlow';
  overflow: hidden;
}

#navigation_bar {
  margin-left: 15%;
  margin-top: 15px;
}

#intro {
  font-size: 28px;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 40px;
}

#contact_form {
  background: rgb(222, 238, 238);
  width: 70%;
  height: 300px;
  margin-top: 80px;
  margin-left: 15%;
  margin-right: 20%;
  border-radius: 8px;
}